<template>
    <div class="app">
        <div class="columns">
            <div class="column column--pattern-table">
                <pattern-table class="card" :sprite-canvas="spriteCanvas"
                               :chr-loader="chrLoader" />
                <palette class="card" :map="map" v-model="selectedColor" />
                <special class="card" v-model="selectedSpecial" />
            </div>

            <div class="column column--name-table">
                <name-table class="card" />
                <entities class="card" :map="map" v-on:redraw="redraw" />
            </div>
        </div>

        <div class="columns">
            <map-data class="card" :map="map" />
        </div>
    </div>
</template>

<script lang="ts">
 import Vue                      from 'vue';
 import {Component, Prop, Watch} from 'vue-property-decorator';

 // Components
 import Entities     from './entities.vue';
 import Palette      from './palette.vue';
 import Special      from './special.vue';
 import PatternTable from './pattern_table.vue';
 import NameTable    from './name_table.vue';
 import MapData      from './map_data.vue';

 // Helper scripts
 import ChrLoader    from '../scripts/chr_loader';
 import Map          from '../scripts/map';
 import SpriteCanvas from '../scripts/sprite_canvas';
 import ScreenCanvas from '../scripts/screen_canvas';
 import {colors}     from '../scripts/palette';

 @Component({
     components: {
         Entities,
         Palette,
         Special,
         PatternTable,
         NameTable,
         MapData
     }
 })
 export default class App extends Vue {
     map: Map = new Map();
     chrLoader: ChrLoader = new ChrLoader(this);
     sprites: number[][][] = [];

     selectedColor: number = -1;
     selectedSprite: number = -1;
     selectedSpecial: string | null = null;

     spriteCanvas: SpriteCanvas | null = null;
     screenCanvas: ScreenCanvas | null = null;

     mounted() {
         this.sprites = JSON.parse(localStorage.getItem('sprites') || '[]');

         this.spriteCanvas = new SpriteCanvas(this);
         this.screenCanvas = new ScreenCanvas(this);

         this.redraw();
     }

     redraw() {
         if (this.spriteCanvas) this.spriteCanvas.draw();
         if (this.screenCanvas) this.screenCanvas.draw();
     }

     // Draw a pixel at (x, y) with scale scale
     drawPixel(image: ImageData, x: number, y: number, val: number,
               scale: number) {
         for (let yy: number = y * scale; yy < y * scale + scale; yy++) {
             for (let xx: number = x * scale; xx < x * scale + scale; xx++) {
                 const pixelIndex = (yy * 512 + xx) * 4;
                 image.data[pixelIndex]     = colors[val * 4];
                 image.data[pixelIndex + 1] = colors[val * 4 + 1];
                 image.data[pixelIndex + 2] = colors[val * 4 + 2];
                 image.data[pixelIndex + 3] = 255;
             }
         }
     }

     // Draw a sprite on an ImageData object with scale scale
     drawSprite(image: ImageData, x_pos: number, y_pos: number,
                sprite: number[][], attr: number, scale: number) {
         for (let x = 0; x < 8; x++) {
             for (let y = 0; y < 8; y++) {
                 const color = attr * 4 + sprite[y][x];
                 const val = this.map.palettes[color];
                 this.drawPixel(image, x_pos + x, y_pos + y, val, scale);
             }
         }
     }

     @Watch('selectedColor')
     onSelectColor(color: number) {
         this.selectedSprite  = -1;
         this.selectedSpecial = null;
         this.redraw();
     }

     selectSprite(spriteId: number) {
         this.selectedSprite  = spriteId;
         this.selectedColor   = -1;
         this.selectedSpecial = null;
         this.redraw();
     }

     @Watch('selectedSpecial')
     onSelectSpecial(special: string) {
         this.selectedSprite  = -1;
         this.selectedColor   = -1;
         this.redraw();
     }

     getMousePos(canvas: HTMLCanvasElement, ev: MouseEvent, div: number)
                                       : { x: number, y: number } {
         const rect = canvas.getBoundingClientRect();
         const x = Math.floor((ev.clientX - rect.left) / div);
         const y = Math.floor((ev.clientY - rect.top)  / div);
         return { x: x, y: y };
     }
 }
</script>
