<template>
    <div>
        <h2>Entities</h2>
        <input type="button" value="New" v-on:click="addEntity">
        <div v-for="(entity, i) in map.entities" class="entity">
            <strong>{{ i }}:</strong>
            <table>
                <tr>
                    <td>
                        <label for="entity__kind">Kind:</label>
                    </td>
                    <td>
                        <select v-model="entity.kind" id="entity__kind"
                                v-on:change="$emit('redraw')">
                            <option v-for="kind in EntityKind" v-if="isNaN(+kind)"
                                    v-bind:value="EntityKind[kind]">
                                {{ kind }}
                            </option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Position:</label>
                    </td>
                    <td>
                        <input type="number" v-model.number="entity.position.x"
                               v-on:change="$emit('redraw')">,
                        <input type="number" v-model.number="entity.position.y"
                               v-on:change="$emit('redraw')">
                    </td>
                </tr>

                <tr>
                    <td><label>Data:</label></td>
                    <td><input type="number" v-model.number="entity.data"></td>
                </tr>
            </table>

            <input type="button" value="Delete" v-on:click="deleteEntity(i)">
        </div>
    </div>
</template>

<script lang="ts">
 import Vue               from 'vue';
 import {Component, Prop} from 'vue-property-decorator';

 import {Entity, EntityKind} from '../scripts/entity';
 import Map                  from '../scripts/map';

 @Component
 export default class Entities extends Vue {
     @Prop() map: Map;
     EntityKind = EntityKind;

     addEntity() {
         const entity = new Entity(0, { x: 0, y: 0 }, 0);
         this.map.entities.push(entity);
         this.$emit('redraw');
     }

     deleteEntity(i: number) {
         const kind = EntityKind[this.map.entities[i].kind];
         const message =
             `Are you sure you want to delete this ${kind} (id ${i})?`;

         if (confirm(message)) {
             this.map.entities.splice(i, 1);
             this.$emit('redraw');
         }
     }
 }
</script>
