<template>
    <div>
        <h2>Level data</h2>
        <textarea rows="15" class="output" v-model="map.mapData"></textarea><br>

        <input type="button" value="Serialize" v-on:click="map.serialize()">
        <input type="button" value="Deserialize" v-on:click="map.deserialize()">
    </div>
</template>

<script lang="ts">
 import Vue                      from 'vue';
 import {Component, Model, Prop} from 'vue-property-decorator';

 import Map from '../scripts/map';

 @Component
 export default class MapData extends Vue {
     @Prop() map: Map;
 }
</script>
