<template>
    <div>
        <h2>Nametable</h2>
        <canvas class="screen-canvas" width="512" height="480"></canvas>
    </div>
</template>

<script lang="ts">
 import Vue                      from 'vue';
 import {Component, Model, Prop} from 'vue-property-decorator';

 import ScreenCanvas from '../scripts/screen_canvas';

 @Component
 export default class NameTable extends Vue {}
</script>
