<template>
    <div>
        <h2>Palette</h2>
        <div class="palette">
            <div v-for="(color, i) in map.palettes" :data-color="color"
                 :data-selected="value == i >> 2 ? '' : null"
                 class="palette__color" v-on:click="$emit('change', i >> 2)"
                 v-on:contextmenu="showColorPicker($event, color, i)">
                {{ toHex(color) }}
            </div>
            <span class="palette__add" v-if="map.palettes.length < 16"
                  v-on:click="map.palettes = map.palettes.concat([0, 0, 0, 0])">
                +
            </span>

            <div class="color-picker">
                <div v-for="color in 64" :data-color="color - 1"
                     v-on:click="onColorPicked(color - 1)">
                    {{ toHex(color - 1) }}
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
 import Vue                     from 'vue';
 import {Component, Prop, Model} from 'vue-property-decorator';

 import ScreenCanvas         from '../scripts/screen_canvas';
 import {Entity, EntityKind} from '../scripts/entity';
 import Map                  from '../scripts/map';

 @Component
 export default class Palette extends Vue {
     @Prop()          map:   Map;
     @Model('change') value: number = -1;

     toHex(i: number) {
         return (i < 16 ? '0' : '') + i.toString(16).toUpperCase();
     }

     showColorPicker(ev: MouseEvent, color: number, index: number) {
         const palette = document.querySelector('.palette');
         if (!palette) return;

         const picker: HTMLDivElement | null =
             document.querySelector('.color-picker');
         if (!picker) return;

         const paletteRect = palette.getBoundingClientRect();
         picker.style.left    = ev.clientX - paletteRect.left + 'px';
         picker.style.top     = ev.clientY - paletteRect.top + 'px';
         picker.style.display = 'block';

         for (const div of Array.from(picker.querySelectorAll("div")))
             div.removeAttribute('data-selected')

         const div = picker.querySelector("div[data-color='" + color + "']");
         if (div) div.setAttribute('data-selected', '');

         picker.setAttribute('data-index', index.toString());
         ev.preventDefault();
     }

     onColorPicked(selection: number) {
         const picker = document.querySelector('.color-picker') as HTMLDivElement;
         picker.style.display = 'none';

         const indexStr = picker.getAttribute('data-index');
         if (indexStr == null) return;

         const index = parseInt(indexStr);
         Vue.set(this.map.palettes, index, selection);
     }
 }
</script>
