<template>
    <div>
        <h2>Pattern table</h2>
        <canvas class="sprite-canvas" width="512" height="512"></canvas><br>
        <input type="button" value="Sprites" v-on:click="spriteCanvas.showSprites()">
        <input type="button" value="Background" v-on:click="spriteCanvas.showBackground()">
        &bullet;
        <input type="file" class="chr-file" v-on:change="chrLoader.onChrUpload($event)">
    </div>
</template>

<script lang="ts">
 import Vue                      from 'vue';
 import {Component, Model, Prop} from 'vue-property-decorator';

 import SpriteCanvas from '../scripts/sprite_canvas';
 import ChrLoader from '../scripts/chr_loader';

 @Component
 export default class PatternTable extends Vue {
     @Prop() spriteCanvas: SpriteCanvas;
     @Prop() chrLoader: ChrLoader;
 }
</script>
