<template>
    <div>
        <h2>Special</h2>
        <div class="special">
            <div class="special__collision" v-on:click="$emit('change', 'collision')"
                 :data-selected="value == 'collision'">
                C
            </div>
            <div class="special__death" v-on:click="$emit('change', 'death')"
                 :data-selected="value == 'death'">
                D
            </div>
        </div>
    </div>
</template>

<script lang="ts">
 import Vue                from 'vue';
 import {Component, Model} from 'vue-property-decorator';

 @Component
 export default class Special extends Vue {
     @Model('change') value: string;
 }
</script>
